body {
  background-color: #999999;
  font-family: "Montagu Slab", serif;
  background: linear-gradient (to bottom, #2e1e1e, #5b3b3b);
}

h1 {
  background-image: linear-gradient(to bottom,#0E6D47, #08B16B, #275a3e,#cca57a,#cbea87);
  color: transparent; 
  background-clip: text; 
  background-color: green;
}

#gallery {
  grid-column: span 12;
}

#myCarousel {
  margin-bottom: 24px; 
  grid-column: span 12;
}

#myCarousel .f-carousel__slide {
  text-align: center;
  padding: 24px;
  background: #eee;
  grid-column: span 12;
}

.f-carousel {
  --f-button-width: 38px;
  --f-button-height: 38px;

  --f-button-svg-width: 16px;
  --f-button-svg-height: 16px;
  --f-button-svg-stroke-width: 2.5;

  --f-button-color: rgb(71 85 105);
  --f-button-border-radius: 50%;
  --f-button-shadow: 0 6px 12px -2px rgb(50 50 93 / 25%), 0 3px 7px -3px rgb(0 0
          0 / 30%);

  --f-button-bg: #fff;
  --f-button-hover-bg: #f9f9f9;
  --f-button-active-bg: #f0f0f0;
  grid-column: span 12;
}

#wrapper {
  margin: 24px auto;
  font-family: "Montagu Slab", serif;
  width: 1200px;
  border: 1px solid black;
  padding: 24px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
  grid-template-rows: 600px;
}

.textbgimage {
  width: 640px; 
  padding: .1em 1em; 
  font-size: 1em; 
  color: brown; 
  background-size: cover; 
  margin-bottom: 1em; 
}

.textposition {
  width: 450px; 
  position: relative; 
}

.textposition p{ 
  position: absolute; 
  top: 0; 
  left: 0; 
  color: brown; 
  font-size: 1em; 
  padding: 0 1em; 
}
.socials i {
  font-size: 24px; 
  font-family: "Montagu Slab", serif;
  margin: 0 10px; 
  color: white; 
  transition: color 0.3s; 
}

.socials i:hover {
  color: #1da1f2; 
}

.nav-container {
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 20px; 
}

.nav-menu {
  list-style: none; 
  display: flex; 
  justify-content: space-between; 
}

.nav-menu li a {
  color: white;
  text-decoration: none; 
  font-weight: bold; 
  text-transform: uppercase;
  font-size: 14px; 
}

.main-container { 
height: 80vh; 
display: flex; 
align-items: center; 
justify-content: center; 
}

.main-container h1 {
  font-size: 60px; 
  text-align:center;
}

footer {grid-column: span 12;
        background-color: palevioletred;
        font-family: "Montagu Slab", serif;
        color: whitesmoke;
        text-transform: uppercase; 
        padding-left: 24px; 
        font-size: 32px; 
        text-align: right; 
        font-weight: bold; 
        padding-right: 24px; 
  }

  footer a{
    color:grey;
    font-size: 40px; 
    transition: all 1s; 
  }

  footer a:hover {
    color: whitesmoke; 
    font-size: 60px; 
  }