/* this is a stylesheet :D */ 
p {
  color: #8cbb86;
  background-color: #b84032
}

.specialp {
    color:#780c64;
    background-color: #a4849e;
}

#specialid {
color:orange;
background-color: bisque;
}

 a:link{
color: red;
 }

 a:visited{
color:green;
 }

 a:active{
color:red;

 }

 a:hover{
color:yellow;

 }

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: orange;
  font-weight: 12px
}

.customtext {
  font-family: Arial, Helvetica, sans-serif ;
  font-style: normal;
  font-weight: bold;
} 
.imgbox {
  border: 10px solid black;
  padding: 10px;
  background-color: yellow;
}

